@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-color: #f3f5f9;
}


.headline {
  font-family: 'Gentium Plus', serif; 
   font-size: xx-large;
   padding: 0 3rem  0;
}

/* .items {

  margin: 3rem;
  padding: 1rem;
  
} */

.wrapper{
 margin-top: 2rem;
 display: flex;
 position: relative;
}

.wrapper .sidebar{
 width: 210px;
 height: 100%;
 background: #4e4193;
 padding: 20px 0px;
 position: fixed;
}



 ul li{
 padding: 12px;
 border-bottom: 1px solid #bdb8d7;
 border-bottom: 1px solid rgba(0,0,0,0.05);
 border-top: 1px solid rgba(255,255,255,0.05);
}    

 ul li a{
 color: #bdb8d7;
 display: block;
}

 ul li a .fas{
 width: 25px;
}

 ul li:hover{
 background-color: #594f8d;
}
   
 ul li:hover a{
 color: #fff;
}

 .social_media{
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
}

.social_media a{
 display: block;
 width: 40px;
 background: #594f8d;
 height: 40px;
 line-height: 45px;
 text-align: center;
 margin:  7px;
 color: #bdb8d7;
 /* border-top-left-radius: 5px;
 border-top-right-radius: 5px; */
 border-radius: 35%;
}

.logoImg {
  width: 20%;
  height: 100%;
  margin:.1rem 0 ;
}
