@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
}

.headline {
  font-family: 'Gentium Plus', serif; 
   font-size: xx-large;
   padding: 0 3rem  0;
}

.logoImg {
  width: 6%;
  height: 6%;
  margin: .8rem;
}

.items {
  padding: 2rem;
  margin: 1rem;
}
