@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-color: #cdc9c2;
}

.navbar {
  background-color: #ededec;
}

.headline {
   font-family: 'Roboto Mono', monospace;
   font-size: x-large;
   color: #2c2b29 ;
   padding: 0 2rem  0;

}


.wrapper{
 margin-top: 2rem;
 display: flex;
 position: relative;
}

.wrapper .sidebar{
 width: 210px;
 height: 100%;
 /* background: #4e4193; */
 padding: 20px 0px;
 position: fixed;
}



 ul li{
 padding: 12px;
 border-bottom: 1px solid #bdb8d7;
 border-bottom: 1px solid rgba(0,0,0,0.05);
 border-top: 1px solid rgba(255,255,255,0.05);
}    

 ul li a{
 /* color: #bdb8d7; */
 color: #31281c;
 display: block;
}

.home{
  border-bottom:2px double #594f8d;
}

 ul li a .fas{
 width: 25px;
}

.offcanvas-body{
  background-color: #dddad4 ;
}

.navbar ul li:hover{
  font-size: smaller;
 }
 
   
 ul li:hover a{
 color: #fff;
 cursor: pointer;
}

 .social_media{
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
}

.social_media a{
 display: block;
 width: 40px;
 background: #c3c5c4;
 height: 40px;
 line-height: 45px;
 text-align: center;
 margin:  7px;
 color:#181D31 ;
 /* border-top-left-radius: 5px;
 border-top-right-radius: 5px; */
 border-radius: 35%;
}

.social_media :hover{
  width: 45px;
  border-radius: 25%;
  color: #2f385c ;
}

.logoImg {
  width: 20%;
  height: 100%;
  margin:.1rem 0 ;
  /* border-bottom:1px double black; */
  /* color: #41392e; */
}
